 <!-- footer Starts -->
 <div class="pt-[5rem] mt-10 pb-[3rem] bg-gray-900">
  <div class="w-[80%] mx-auto grid grid-cols-1 md:grid-cols-2 gap-[1rem] md:gap-[8rem]">
    <div>
      <h1 class="text-[25px] md:text-[30px] lg:text-[35px] leading-[2.4rem] text-white">
        Get our emails for info on new items, sales and more.
      </h1>

      <div class="w-[100%] relative h-[2.7rem] mb-[0.3rem] bg-white ">
        <input type="email" placeholder="Enter your email"
          class="w-[70%] md:w-[79%] bg-white ml-4 outline-none h-[2.7rem]" />
        <button
          class="w-[20%] md:w-[18.5%] right-0 absolute h-[2.7rem] bg-blue-500 hover:bg-blue-700 transition-all duration-200">
          Subscribe
        </button>
        <p class="text-[14px] mt-[0.2rem] text-white capitalize font-thin">
          By subscribing you agree to our terms &amp; conditions and privacy
          &amp; cookies policy
        </p>
      </div>
    </div>
    <div class="mt-[2rem] md:mt-0">
      <h1 class="text-[20px] md:text-[25px] lg:text-[30px] leading-[2.4rem] text-white">
        Need help?
        <br />
        (+000 1234 56 789)
      </h1>
      <p class="text-white mt-[0.5rem]">
        We are available 8:00am - 7:00pm
      </p>
      <div class="mt-[2rem] flex items-center space-x-2">
        <img alt="playstore" loading="lazy" width="130" height="130" decoding="async" data-nimg="1"
          class="object-contain" src="/_next/image?url=%2Fimages%2Fgp.png&amp;w=384&amp;q=75" />
        <img alt="appstore" loading="lazy" width="130" height="130" decoding="async" data-nimg="1"
          class="object-contain" />
      </div>
    </div>
  </div>
</div>
<!-- footer Ends -->
