<main class="main">
  <div class="content">
    <div class="header flex justify-between gap-60 py-5 px-10 lg:max-w-7xl sm:max-w-6xl mx-auto items-center">
      <div class="">
        <a href="/">
          <img class="logo img-responsive h-10" src="/logo.jpg" alt="greensgarden02">
        </a>
      </div>
      <div class="">
        <ul class="flex gap-10">
          <li>
            <a href="/home"> Home</a>
          </li>
          <li href="/contact">
            <a> Contact</a>
          </li>
          <li>
            <a href="/about"> About</a>
          </li>
        </ul>
      </div>
      <div class="flex gap-6">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
          <path
            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
        </svg> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#5f6368">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
          <path
            d="M200-80q-33 0-56.5-23.5T120-160v-480q0-33 23.5-56.5T200-720h80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720h80q33 0 56.5 23.5T840-640v480q0 33-23.5 56.5T760-80H200Zm0-80h560v-480H200v480Zm280-240q83 0 141.5-58.5T680-600h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85h-80q0 83 58.5 141.5T480-400ZM360-720h240q0-50-35-85t-85-35q-50 0-85 35t-35 85ZM200-160v-480 480Z" />
        </svg>
      </div>
    </div>

    <div class="bg-[#f7f7f7] h-screen">
      <app-hero>

      </app-hero>

      <div class="flex w-full mt-[80px] gap-3 lg:max-w-7xl sm:max-w-6xl mx-auto items-center">

        <div class="bg-white w-[30%] h-60 flex items-center border-[1px] rounded">
          <div class="p-6  ">
            <p class="text-[#777777] text-[16px]">Flat 50% Discount</p>
            <p class="text-[24px] font-medium capitalize leading-[30px] mb-[24px] mt-[11px]">Indoor Plants</p>
            <div class="mt-4">
              <app-button></app-button>
            </div>
          </div>

          <div>
            <img src="/images/meat.jpeg" class=" h-24">
          </div>
        </div>
        <div class="bg-white w-[70%] h-60 border-[1px] rounded">
          <div class="h-full flex justify-between">
            <img src="/images/flower.png" class="h-full" />
            <div class="flex flex-col justify-center items-center">
              <p class="text-[#777777] text-[16px]">Flat 50% Discount</p>
              <p class="text-[24px] font-medium capitalize leading-[30px] mb-[24px] mt-[11px]">Indoor Plants</p>
              <div class="mt-2">
                <app-button></app-button>
              </div>
            </div>
            <img src="/images/plant.png" class="h-full justify-end" />

          </div>
        </div>

      </div>

      <div class="flex justify-center">
        <div>
          <h1 class="my-10 text-[30px] font-medium">
            Trending products</h1>
          <div class="flex">
            <hr class=" w-[33.33%] border mt-[1px]" />
            <hr
              class="bg-[#6bb42f] border-[#6bb42f] text-center flex items-center justify-center w-[33.33%] h-1 text-rose-500 border" />
            <hr class=" w-[33.33%] mt-[1px] border " />
          </div>
        </div>
      </div>
      <ul class="flex gap-4 justify-center mt-10">
        <li class="flex justify-center items-center rounded-full h-12 w-32 bg-[#6bb42f] text-white"> <a
            href="#">Featured</a></li>
        <li class="flex justify-center items-center rounded-full h-12 w-32 bg-white border"><a href="#">Latest</a></li>
        <li class="flex justify-center items-center rounded-full h-12 w-32 bg-white border"><a href="#">Best Selling</a>
        </li>
      </ul>

      <!-- product card wrapper -->
      <div class="flex w-full flex-wrap justify-between py-5 lg:max-w-7xl sm:max-w-6xl mx-auto items-center">
        <div *ngFor="let item of dummyProduct" class="card mt-6 rounded border bg-white h-96 w-[300px] pb-4 relative">
          <div class="flex flex-col justify-center items-center w-full h-full">
            <div class="flex justify-center items-center  w-full  h-[100rem]">
              <img src="/images/meat.jpeg" class="w-48">
            </div>

            <div class="border-t w-[94%] pt-4 flex flex-col items-center justify-center">
              <p class="">Air Plant</p>
              <span itemprop="price" class="text-[#6bb42f] text-base leading-5 font-medium">$22.94</span>
              <div class="flex mt-2">
                <input value="1" name="" type="number"
                  class="w-14 border-[1px] bg-[#f7f7f7] border-[#e5e5e5] p-3 rounded-l-full">
                <button class="before:ease px-6 rounded-r-full flex justify-center items-center bg-blue-900 ${customStyle} text-[17px] relative
    h-full py-1 overflow-hidden shadow-2xl before:absolute before:left-0 before:-ml-2 before:h-48 before:w-48
    before:origin-top-right before:-translate-x-full before:translate-y-12 before:-rotate-90 before:bg-[#6bb42f]
    before:transition-all before:duration-300 hover:text-white hover:shadow-black hover:before:-rotate-180">
                  <span class="relative z-10 text-sm text-white">Add to Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>



      </div>





      <div class="flex justify-center my-10">
        <div>
          <h1 class="text-[30px] font-medium">
            Special products</h1>
          <div class="flex mt-4">
            <hr class=" w-[33.33%] border " />
            <hr
              class="bg-[#6bb42f] border-[#6bb42f] text-center flex items-center justify-center w-[33.33%] h-1 text-rose-500 border" />
            <hr class=" w-[33.33%] border " />
          </div>
        </div>
      </div>


      <!-- product card wrapper -->
      <div class="flex w-full flex-wrap justify-between py-5 lg:max-w-7xl sm:max-w-6xl mx-auto items-center">
        <div *ngFor="let item of dummyProduct" class="card mt-6 rounded border bg-white h-96 w-[300px] pb-4 relative">
          <div class="flex flex-col justify-center items-center w-full h-full">
            <div class="flex justify-center items-center  w-full  h-[100rem]">
              <img src="/images/meat.jpeg" class="w-48">
            </div>

            <div class="border-t w-[94%] pt-4 flex flex-col items-center justify-center">
              <p class="">Air Plant</p>
              <span itemprop="price" class="text-[#6bb42f] text-base leading-5 font-medium">$22.94</span>
              <div class="flex mt-2">
                <input value="1" name="" type="number"
                  class="w-14 border-[1px] bg-[#f7f7f7] border-[#e5e5e5] p-3 rounded-l-full">
                <button class="before:ease px-6 rounded-r-full flex justify-center items-center bg-blue-900 ${customStyle} text-[17px] relative
    h-full py-1 overflow-hidden shadow-2xl before:absolute before:left-0 before:-ml-2 before:h-48 before:w-48
    before:origin-top-right before:-translate-x-full before:translate-y-12 before:-rotate-90 before:bg-[#6bb42f]
    before:transition-all before:duration-300 hover:text-white hover:shadow-black hover:before:-rotate-180">
                  <span class="relative z-10 text-sm text-white">Add to Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- footer Starts -->
      <div class="pt-[5rem] mt-10 pb-[3rem] bg-gray-900">
        <div class="w-[80%] mx-auto grid grid-cols-1 md:grid-cols-2 gap-[1rem] md:gap-[8rem]">
          <div>
            <h1 class="text-[25px] md:text-[30px] lg:text-[35px] leading-[2.4rem] text-white">
              Get our emails for info on new items, sales and more.
            </h1>

            <div class="w-[100%] relative h-[2.7rem] mb-[0.3rem] bg-white ">
              <input type="email" placeholder="Enter your email"
                class="w-[70%] md:w-[79%] bg-white ml-4 outline-none h-[2.7rem]" />
              <button
                class="w-[20%] md:w-[18.5%] right-0 absolute h-[2.7rem] bg-blue-500 hover:bg-blue-700 transition-all duration-200">
                Subscribe
              </button>
              <p class="text-[14px] mt-[0.2rem] text-white capitalize font-thin">
                By subscribing you agree to our terms &amp; conditions and privacy
                &amp; cookies policy
              </p>
            </div>
          </div>
          <div class="mt-[2rem] md:mt-0">
            <h1 class="text-[20px] md:text-[25px] lg:text-[30px] leading-[2.4rem] text-white">
              Need help?
              <br />
              (+000 1234 56 789)
            </h1>
            <p class="text-white mt-[0.5rem]">
              We are available 8:00am - 7:00pm
            </p>
            <div class="mt-[2rem] flex items-center space-x-2">
              <img alt="playstore" loading="lazy" width="130" height="130" decoding="async" data-nimg="1"
                class="object-contain" src="/_next/image?url=%2Fimages%2Fgp.png&amp;w=384&amp;q=75" />
              <img alt="appstore" loading="lazy" width="130" height="130" decoding="async" data-nimg="1"
                class="object-contain" />
            </div>
          </div>
        </div>
      </div>
      <!-- footer Ends -->
    </div>
  </div>


</main>
<router-outlet />
