<div data-aos="zoom-in" data-aos-delay="400" class="aos-init aos-animate">

  <button class="before:ease px-6 rounded-full flex justify-center items-center bg-blue-900 ${customStyle} text-[17px] relative
    h-full py-2 overflow-hidden shadow-2xl before:absolute before:left-0 before:-ml-2 before:h-48 before:w-48
    before:origin-top-right before:-translate-x-full before:translate-y-12 before:-rotate-90 before:bg-[#6bb42f]
    before:transition-all before:duration-300 hover:text-white hover:shadow-black hover:before:-rotate-180">
    <span class="relative z-10 text-sm text-white">{{text}}</span>
  </button>
</div>
